<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
	<meta charset="utf-8" />
	<base href="<!--@@var=baseHref-->">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="Content-Language" content="it" />
	<meta name="robots" content="noindex,nofollow" />
	<title>More</title>
	<meta name="description" content="Websolute More demo.">
	<meta name="apple-mobile-web-app-title" content="Websolute More">
	<meta name="application-name" content="Websolute More">
	<link rel="shortcut icon" href="<!--@@var=baseHref-->img/favicon.ico">
	<link rel="stylesheet" href="<!--@@var=baseHref-->css/vendors.min.css" />
	<link rel="stylesheet" href="<!--@@var=baseHref-->css/main.min.css" />
	<!-- @@placeholder= css -->
</head>

<body>
	<!-- @@include ./shared/svg.html -->
	<div class="app hidden" app-component>
		<!-- @@include ./shared/header.html -->
		<!-- @@placeholder= main -->
		<!-- @@include ./shared/footer.html -->
	</div>
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es5%2CString.prototype.includes%2CObject.values%2CArray.prototype.fill%2CArray.prototype.find%2CArray.from%2Cfetch%2CObject.assign%2CURLSearchParams%2CElement.prototype.classList%2CNode.prototype.contains%2CNodeList.prototype.forEach%2CCustomEvent%2CAudioContext"></script>
	<script src="<!--@@var=baseHref-->js/vendors.min.js"></script>
	<script src="<!--@@var=baseHref-->js/main.js"></script>
	<!-- @@placeholder= js -->
</body>

</html>
